#!/usr/bin/bash

export QUICKCOURSE_COMPOSE_FILE={{ quickcourse_user_orchestration_dir }}/container-compose.yml
export QUICKCOURSE_SECURITY_OPT="--security-opt label=type:container_runtime_t"
export QUICKCOURSE_CLEANUP_OPT="--remove-orphans"

/usr/local/bin/podman-compose \
  -f $QUICKCOURSE_COMPOSE_FILE \
  --podman-run-args "--security-opt label=type:container_runtime_t" \
  up -d $QUICKCOURSE_CLEANUP_OPT
